body {
  font-family: Arial;
}
a {
  font-weight: bold;
  text-decoration: none;
}
select {
  background-color: white;
  font-size: 100%;
}
textarea {
  border: 0px;
  resize: none;
  color: black;
  font-size: 75%;
  width: 98%;
}
td {
  width: 30vw;
  text-align: center;
}
td.wide {
  width: 70vw !important;
  text-align: left !important;
}
.left {
  color: blue;
}
.center {
  color: black;
}
.right {
  color: red;
}
