canvas {
  border: 0px;
  width: 50%;
}
div.big-graphic > canvas {
  width: 100% !important;
}
#navbar {
  background-color: #333;
  vertical-align: center;
  width: calc(100vw - 20px);
  padding-top: 10px;
  padding-bottom: 10px;
}
#navbar-search {
  height: 2vh;
  width: 100%;
  font-size: 75%;
}
.navbar-item {
  color: white;
  padding: 10px;
  vertical-align: center;
}
.navbar-item-small {
  width: 5vw;
  cursor: pointer;
}
.navbar-item-large {
  width: 85vw;
}
.navbar-center {
  text-align: center;
}
.navbar-item > span {
  color: white;
}
.navbar-item-small:hover {
  background-color: #111;
}
.navbar-right {
  display: inline-block;
  text-align: right;
  width: 20px;
}
.navbar-badge {
  position: absolute;
  display: none;
  background-color: red;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 50%;
  font-size: 75%;
}
.navbar-cookie-panel {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: white;
}
.navbar-cookie-panel > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navbar-cookie-panel > button {
  border-radius: 5%;
  background-color: #00ff00;
}
