canvas {
  border: 0px;
  width: 50%;
}
#navbar {
  background-color: #333;
  vertical-align: center;
  width: calc(100vw - 20px);
  padding-top: 10px;
  padding-bottom: 10px;
}
#navbar-search {
  height: 2vh;
  width: 100%;
  font-size: 75%;
}
.navbar-item {
  color: white;
  padding: 10px;
  vertical-align: center;
}
.navbar-item-small {
  width: 5vw;
  cursor: pointer;
}
.navbar-item-large {
  width: 85vw;
}
.navbar-center {
  text-align: center;
}
.navbar-item > span {
  color: white;
}
.navbar-item-small:hover {
  background-color: #111;
}
.navbar-right {
  display: inline-block;
  text-align: right;
  width: 20px;
}
